body {
    body {
        background-color: #F1F2F0;
    }
    
    #LOGO-Navbar {
        font-family: "Montserrat";
        color: #1E3141;
        font-size: 25px;
    }
    
    h1 {
        font-family: "Montserrat";
        color: #1E3141;
    }
    
    h2 {
        font-family: "Montserrat";
        color: #1E3141;
    }
    
    p {
        font-family: "Montserrat";
        text-align: center;
        color: #1E3141;
    }
    
    #galeria {
        height: 100%;
        width: 100%;
        position: relative;
        padding-top: 56.25%; /* Mantém a proporção 16:9 */
    }
    
    #galeria img {
        position: absolute;
        width: 20%;
        height: auto;
        cursor: move;
    }
    
    /* Posições das regiões para formar o mapa do Brasil */
    #norte {
        top: 10%;
        left: 30%;
    }
    
    #nordeste {
        top: 20%;
        left: 50%;
    }
    
    #centroOeste {
        top: 30%;
        left: 40%;
    }
    
    #sudeste {
        top: 40%;
        left: 50%;
    }
    
    #sul {
        top: 50%;
        left: 40%;
    }
}  