body {
    body {
        background-color: #fafafa;
    }

    #LOGO-Navbar {
        font-family: "Poppins";
        color: #1E3141;
        font-size: 25px;
    }

    h1 {
        font-family: "Poppins";
        color: #1E3141;
    }

    h2 {
        font-family: "Poppins";
        color: #1E3141;
    }

    p {
        font-family: "Roboto";
        text-align: left;
        text-justify: initial;
        color: #1E3141;
    }
    ul{
        color: ;
    }
    #galeria {
        height: 100%;
        width: 100%;
        position: relative;
        padding-top: 100%; /* Mantém a proporção 16:9 */
    }

    #galeria img {
        position: absolute;
        cursor: move;
    }

    /* Posições das regiões para formar o mapa do Brasil */
    #norte {
        width: 56%;
        height: auto;
        bottom: 52%;
        left: 11%;
    }

    #nordeste {
        width: 27%;
        height: auto;
        bottom: 36%;
        left:61%;
    }

    #centroOeste {
        width: 32%;
        height: auto;
        top: 25%;
        left: 35%;
    }

    #sudeste {
        width: 28%;
        height: auto;
        top: 49%;
        left: 51%;
    }

    #sul {
        width: 20%;
        height: auto;
        top: 80%;
        left: 43%;
    }
}